.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    
}

.services h1{
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.my-serveces{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-services .service{
    
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: all 0.5s linear;
    cursor: pointer;
    border: 2px solid white;
}

.service:hover{
    background-color:black;
    transform: translateY(-10px);
}

.service a{
    text-decoration: underline;
}


@media (min-width:900px){
    .my-services .service{
        width: 500px;
        font-size: large;
    }
}