.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 10px;
  padding-top: 60px;
}

.about h1 {
  padding: 10px;
  border-radius: 10px;
}

.about-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
}

.about-description button{
  height: 50px;
  padding-inline: 5px;
  font-weight: 500;
  background-color: rgb(250, 5, 86);
  border-radius: 7px;
  color: white;
  transition: all 0.3s linear;
  border: none;
}

.about-description button:hover{
  border: 3px solid rgb(250, 5, 86);
  background-color: transparent;
}

.about-description a{
  text-decoration: underline;
}

.about .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.about .logo img {
  width: 75%;
  border-radius: 10px;
  border: 5px solid rgb(243, 236, 236);
}

.about .profile-summary {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 27px;
  
}

.other-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.other-details .header {
  display: flex;
  justify-content: space-between;
}

.header h3 {
  cursor: pointer;
}

.header-active {
  border-bottom: 5px solid rgb(250, 5, 86);
  transition: all 0.3s linear;
}

.information .info p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;

  padding-inline: 10px;
  margin-bottom: 10px;
}
.information .info p span {
  color: rgb(250, 5, 86);
  font-weight: 500;
}

.info p a {
  text-decoration: underline;
}


@media (min-width:1101px){
  .about{
    flex-direction: row;
  }
  
}

@media (min-width:550px) and (max-width:1100px){
  .about .logo img{
    width: 350px;
  }
}