.contact {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  font-size: 15px;
  color: white;
  padding-inline: 10px;
  margin-bottom: 10px;
}

.contact span,
.contact__links {
  border-bottom: 1px solid white;
  padding: 7px;
  border-radius: 13px;
  transition: all 0.3s ease;
}

.contact span:hover {
  transform: scale(1.2);
}

.contact__links {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.contact__links:hover {
  transform: scale(1.2);
}

.contact__links:hover a:not(:hover) {
  filter: blur(2px);
}

.contact__links a {
  transition: all 0.3s ease;
}

.contact__links a:hover {
  transform: translateY(-10px);
}
