.projects{
    color: white;
    text-align: center;
}

.projects h1{
    margin-bottom: 50px;
}

.projects span a{
    text-decoration:underline;
    text-decoration-thickness: 2px;
}

.projects__details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-block: 20px;
}

.project{
    text-align: center;
    border: 3px solid white;
    height: 30vh;
    width: 30vw;
    padding: 5px;
    border-radius: 25px;
    font-weight: 500;
    align-content: center;
    background-image: url('/food_18.png');
    background-position: center;
    background-size: cover;
    color: black;

    transform-style: preserve-3d;/*maintain a 3d position*/
    transition: all 0.3s ease;
    perspective: 1000px;
}

.project__overlay{
    background-color: rgb(242, 240, 240);
    border-radius: 25px;
    padding: 10px;
    opacity: 0;
}

.project__overlay h3{
    text-decoration: underline;
}

.projects:hover .project:not(:hover){
    filter: blur(5px);
}


.project:hover{
    transform: rotateX(10deg) rotateY(-10deg) scale(1.1);
}

.project:hover .project__overlay{
    opacity: 1;
}

@media(max-width:1050px){
    .project{
        min-width: 45vw;
        max-width: 60vw;
        min-height: 40vh;
        height: fit-content;
    }
}

@media(max-width:480px){
    .project{
        min-width: 90vw;
        max-width: 97vw;
    }
}