.events{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.my-events{
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: scroll;
    
    width: 90%;
}

.event{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: all 0.3s;
    text-align: center;
}

.event:hover{
    width: 270px;
    height: 250px;
}

.event .image{
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}